@model IEnumerable<ShopHub.Models.Models.Order>
@using  ShopHub.Services.Interface
@inject ISessionManager _sessionManager
@using  ShopHub.Services.Utilities.Enums


@{
    ViewData["Title"] = "OrderHistory";
    var name = _sessionManager.GetUserName();
    var userTypeId = _sessionManager.GetUserTypeId();
}

<div class="sidenav">
    <ul class="leftSideUl">
        <li><h2 class="shopHubHeading">Shop Hub</h2></li>

        @if (userTypeId.Equals(Convert.ToInt32(UserTypeNames.Admin)))
        {
            <li><a asp-action="AllOrderHistory" asp-controller="Admin">All Order History</a></li>
            <li><a asp-action="LocationOrderHistory" asp-controller="Admin">Location By Order</a></li>
            <li><a asp-action="Location" asp-controller="Admin">Manage Locations</a></li>
            <li><a asp-action="ProductList" asp-controller="Admin">Manage Products</a></li>
        }
        else
        {
            <li><a asp-action="StorePlace" asp-controller="Customer">Stores</a></li>
            <li><a asp-action="OrderHistory" asp-controller="Customer">Orders History</a></li>
        }

    </ul>

</div>

<div class="main">
    <div class="text-center">

        <h1>All Order History</h1>
        <hr />
        @foreach (var item in Model)
        {
            <div class="card w-75 card_margin">
                <div class="card-body">
                    <h5 class="card-title">Order info</h5>
                    <p class="card-text"><b> @item.User.FirstName  @item.User.LastName </b> have placed an order with following details: </p>
                    <p class="card-text">Order placed at @item.Timestamp.ToString("MM/dd/yyyy h:mm tt")</p>
                    <p class="card-text">Order product is <b>@item.Product.Name</b> with <b>@item.Quantity</b> quantities</p>
                    <p class="card-text">Location logged is <b>@item.Product.Location.Name</b></p>
                </div>
            </div>
        }


    </div>

</div>
